.location-search-input {
    height: 56px;
    width: calc(100% - 24px);
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    padding: 0 12px;
    outline: none;
    max-width: 282px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.autocomplete-button {
    background-color: #FCD500;
    color: #272525;
    border: 2px solid #FCD500;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    max-width: 157px;
    height: 57px;
}

.location-search-input-number {
    max-width: 131px;
    margin-right: 0;
}

.location-search-input.show {
    display: block;
}

.location-search-input.hide {
    display: none;
}

.autocomplete-dropdown-container {
    position: absolute;
    top: 61px;
    background: #fff;
    border: solid 1px #ccc;
    border-radius: 4px;
    width: calc(100% - 1px);
}

.autocomplete-dropdown-container.show {
    display: block;
}

.autocomplete-dropdown-container.hide {
    display: none;
}

.suggestion-item {
    padding: 10px;
    text-align: left;
    border-bottom: solid 1px #ccc;
    cursor: pointer;
}

.suggestion-item--active {
    padding: 10px;
    text-align: left;
    border-bottom: solid 1px #ccc;
    cursor: pointer;
    background: #f9f9f9;
}

.suggestion-item-title {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}

.suggestion-item-sub-title {
    font-size: 11px;
    display: block;
}
